@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  --color-primary: #fafafa;
  --color-accent: #309f6d;
  --color-secondary: #010101;
}
